.row img {
    padding-top: 10%;
    margin-left: 3%;
}

.card-body {
    margin-left: 5%;
    margin: auto;
}

.card-body p {
    margin-top: 10%;
}

.card-body a {
    margin-top: 3%;
}

.col card mb-3 {
    margin-top: 50%;
}

.pagination {
    margin-top: 5%;
    margin-bottom: 3%;
}


/* .footer-bawah container {} */

.foter-atas span {
    margin-left: 50%;
}

.footer-bawah p {
    color: white;
}

.footer-bawah h6 {
    color: white;
}


/* .card-body btn {
    margin-top: 20%;
} */